<ion-content [fullscreen]="true" class="ion-padding">
  <div
    class="container my-5 d-flex flex-column align-items-center justify-content-center"
  >
    <form>
      <div class="logo mb-2">
        <img src="../../assets/icon/LogoDuoc.png" alt="" />
      </div>
      <div class="container p-2">
        <div class="my-2">
          <ion-input
            label="Email"
            label-placement="floating"
            fill="outline"
            placeholder="Enter Correo@duoc"
          ></ion-input>
        </div>
        <div class="my-2">
          <ion-input
            label="Password"
            label-placement="floating"
            fill="outline"
            placeholder="Enter Contraseña"
          ></ion-input>
        </div>
        <ion-button class="my-2 text-center align-items-center"
          >Ingresar</ion-button
        >
        <div class="my-1 text-center">
          <a href="#">Recuperar Contraseña</a>
        </div>
      </div>
    </form>
  </div>
</ion-content>
