<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="./../assets/icon/LogoDuoc.png" alt="DuocUC Logo" class="logo" />
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div
    *ngIf="isMobile"
    class="message-container text-dark d-flex justify-content-center align-items-center"
    style="height: 100%"
  >
    <p class="message text-dark text-center">
      <strong>Mensaje:</strong><br />
      la asistencia por celular esta bloqueada profesor, es
      <strong>solo para alumnos</strong>.<br />
      Favor de pasar lista por <strong>computador</strong>.
    </p>
  </div>

  <div *ngIf="!isMobile" class="desktop-message-container">
    <p class="message text-dark text-center">
      Este es el contenido para dispositivos de escritorio.
    </p>
  </div>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="qr">
      <ion-icon name="qr-code-outline"></ion-icon>
      <ion-label>QR</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
