<ion-content *ngIf="!isMobile" class="desktop-message-container">
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          <img
            src="../../assets/icon/LogoDuoc.webp"
            alt="Duocuc Logo"
            class="logo"
          />
        </ion-title>
        <ion-button slot="end" routerLink="/login">
          logout
          <ion-icon name="log-out-outline"></ion-icon>
        </ion-button>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <!-- Relleno -->
      <ion-list>
        <ion-list-header>
          <ion-label>Lista de Clases</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let clase of clases">
          <ion-label>
            <h2>{{ clase.nombre }}</h2>
            <h3>{{ clase.carreraClase }}</h3>
            <p>
              Profesor: {{ clase.profesor.nombre }} ({{ clase.profesor.id }})
            </p>
            <p>ID: {{ clase.id }}</p>
            <p>Horario: {{ clase.horaInicio }} - {{ clase.horaTermino }}</p>
            <p>Jornada: {{ clase.diurnoVespertino }}</p>
            <p>Día(s): {{ clase.dias }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </div>
</ion-content>

<ion-content
  *ngIf="isMobile"
  class="message-container text-dark d-flex justify-content-center align-items-center"
  style="height: 100%"
>
  <p class="message text-dark text-center">
    <strong>Mensaje:</strong><br />
    la asistencia por celular esta bloqueada profesor, es
    <strong>solo para alumnos</strong>.<br />
    Favor de pasar lista por <strong>computador</strong>.
  </p>
</ion-content>
