<ion-content *ngIf="!isMobile" class="desktop-message-container">
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          <img
            src="../../assets/icon/LogoDuoc.webp"
            alt="Duocuc Logo"
            class="logo"
          />
        </ion-title>
        <ion-button slot="end">
          <ion-icon name="add-outline" slot="end"></ion-icon>
          Crear Clase
        </ion-button>
        <ion-button slot="end" routerLink="/login">
          logout
          <ion-icon name="log-out-outline"></ion-icon>
        </ion-button>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <h2>Bienvenido, {{ usuario.nombre }}</h2>
      <!-- Relleno -->
      <ion-list>
        <ion-list-header>
          <ion-label>Lista de Clases</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let clase of clases">
          <ion-label>
            <h2>{{ clase.nombre }}</h2>
            <h3>{{ clase.carreraClase }}</h3>
            <p>Profesor: {{clase.profesor.nombre}}</p>
            <p>Horario: {{ clase.horaInicio }} - {{ clase.horaTermino }}</p>
            <p>Jornada: {{ clase.diurnoVespertino }}</p>
            <p>Día(s): {{ clase.dias }}</p>
            <ion-button (click)="setQData(clase)">Generar QR</ion-button>
          </ion-label>
          <!-- Modal QR -->
          <ion-modal [isOpen]="isModalOpen">
            <ng-template>
              <ion-header>
                <ion-toolbar>
                  <ion-title>QR Code</ion-title>
                  <ion-buttons slot="end">
                    <ion-button (click)="setOpen(false)">
                      <ion-icon name="close-outline"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                </ion-toolbar>
              </ion-header>
              <ion-content class="ion-padding">
                <div class="qr-wrapper" *ngIf="createdCode">
                  <qrcode
                    [qrdata]="createdCode"
                    [width]="250"
                    [errorCorrectionLevel]="'M'"
                  ></qrcode>
                  {{qrData}}
                </div>
                <p *ngIf="!createdCode">No hay clase programada para hoy.</p>
              </ion-content>
            </ng-template>
          </ion-modal>
          <!-- End Modal QR -->
        </ion-item>
      </ion-list>
    </ion-content>
  </div>
</ion-content>

<ion-content
  *ngIf="isMobile"
  class="message-container text-dark d-flex justify-content-center align-items-center"
  style="height: 100%"
>
  <p class="message text-dark text-center">
    <strong>Mensaje:</strong><br />
    la asistencia por celular esta bloqueada profesor, es
    <strong>solo para alumnos</strong>.<br />
    Favor de pasar lista por <strong>computador</strong>.
  </p>
</ion-content>
