<ion-header>
  <ion-toolbar>
    <ion-title>
      <img
        src="../../assets/icon/LogoDuoc.png"
        alt="Duocuc Logo"
        class="logo"
      />
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="row pt-2">
    <h2>Formulario de personas</h2>

    <div class="col-sm-6">
      <form [formGroup]="personaForm" (ngSubmit)="guardarPersona()">
        <ion-item class="p-2">
          <ion-input
            label="Nombre"
            label-placement="floating"
            fill="outline"
            placeholder=" Ingrese Nombre"
            formControlName="nombre"
            required
          ></ion-input>
        </ion-item>
        <ion-item
          *ngIf="personaForm.get('nombre')?.invalid && (personaForm.get('nombre')?.dirty || personaForm.get('nombre')?.touched)"
          class="py-2"
        >
          <ion-text color="danger"
            >El nombre es requerido y debe tener al menos 2
            caracteres.</ion-text
          >
        </ion-item>

        <ion-item class="p-2">
          <ion-input
            label="Apellido"
            label-placement="floating"
            fill="outline"
            placeholder=" Ingrese apellido"
            formControlName="apellido"
            required
          ></ion-input>
        </ion-item>
        <ion-item
          *ngIf="personaForm.get('apellido')?.invalid && (personaForm.get('apellido')?.dirty || personaForm.get('apellido')?.touched)"
          class="py-2"
        >
          <ion-text color="danger"
            >El apellido es requerido y debe tener al menos 2
            caracteres.</ion-text
          >
        </ion-item>

        <ion-item class="p-2">
          <ion-select
            label="Carrera"
            label-placement="floating"
            fill="outline"
            formControlName="carrera"
            required
          >
            <ion-select-option
              *ngFor="let carrera of carreras"
              [value]="carrera"
            >
              {{ carrera }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item
          *ngIf="personaForm.get('carrera')?.invalid && (personaForm.get('carrera')?.dirty || personaForm.get('carrera')?.touched)"
          class="py-2"
        >
          <ion-text color="danger">La carrera es requerida.</ion-text>
        </ion-item>

        <ion-item class="p-2">
          <ion-input
            label="Email"
            label-placement="floating"
            fill="outline"
            placeholder=" Ingrese email"
            formControlName="email"
            required
          ></ion-input>
        </ion-item>
        <ion-item
          *ngIf="personaForm.get('email')?.invalid && (personaForm.get('email')?.dirty || personaForm.get('email')?.touched)"
          class="py-2"
        >
          <ion-text color="danger"
            >Por favor, ingrese un email válido.</ion-text
          >
        </ion-item>

        <ion-item class="p-2">
          <ion-input
            label="Contraseña"
            label-placement="floating"
            type="password"
            fill="outline"
            placeholder=" Ingrese contraseña"
            formControlName="contrasena"
            required
          ></ion-input>
        </ion-item>
        <ion-item
          *ngIf="personaForm.get('contrasena')?.invalid && (personaForm.get('contrasena')?.dirty || personaForm.get('contrasena')?.touched)"
          class="py-2"
        >
          <ion-text color="danger"
            >La contraseña debe tener al menos 8 caracteres.</ion-text
          >
        </ion-item>

        <ion-button expand="block" type="submit" [disabled]="!personaForm.valid"
          >Guardar Persona</ion-button
        >
      </form>
    </div>
    <div class="col-sm-6">
      <ion-list>
        <ion-list-header>
          <ion-label>Lista de Personas</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let persona of personas">
          <ion-label>
            <h2>{{persona.nombre}} {{persona.apellido}}</h2>
            <p>Email: {{persona.email}}</p>
            <p>Carrera: {{persona.carrera}}</p>
          </ion-label>
          <ion-button slot="end" (click)="obtenerPersona(persona.email)"
            >Ver</ion-button
          >
          <ion-button
            slot="end"
            color="danger"
            (click)="eliminarPersona(persona.email)"
            >Eliminar</ion-button
          >
        </ion-item>
      </ion-list>
    </div>
  </div>
  <div class="row pt-2">
    <h2>Formulario Clases</h2>
    <div class="col-sm-6">
      <form [formGroup]="claseForm" (ngSubmit)="guardarClase()">
        <ion-item>
          <ion-label position="floating">Nombre de la clase</ion-label>
          <ion-input formControlName="nombre" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Hora de inicio</ion-label>
          <ion-input formControlName="horaInicio" type="time"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Hora de término</ion-label>
          <ion-input formControlName="horaTermino" type="time"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Profesor</ion-label>
          <ion-select
            formControlName="profesor"
            (ionChange)="onPersonaSelect($event)"
          >
            <ion-select-option
              *ngFor="let persona of personas"
              [value]="persona.identificador"
            >
              {{ persona.nombre }} {{ persona.apellido }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button expand="block" type="submit" [disabled]="!claseForm.valid"
          >Guardar Clase</ion-button
        >
      </form>
    </div>
    <div class="col-sm-6">
      <ion-list>
        <ion-item *ngFor="let clase of clases">
          <ion-label>
            <h2>{{ clase.nombre }}</h2>
            <p>ID: {{ clase.id }}</p>
            <p>Hora de inicio: {{ clase.horaInicio }}</p>
            <p>Hora de término: {{ clase.horaTermino }}</p>
            <p>profesor:</p>
          </ion-label>
          <ion-button
            color="danger"
            slot="end"
            (click)="eliminarClase(clase.id)"
            >Eliminar</ion-button
          >
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
