<ion-header>
  <ion-toolbar>
    <ion-title>
      <img
        src="../../assets/icon/LogoDuoc.webp"
        alt="Duocuc Logo"
        class="logo"
      />
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <h2>Listas</h2>
  <div class="row pt-2">
    <div class="col-sm-6">
      <ion-list>
        <ion-list-header>
          <ion-label>Lista de Personas</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let persona of personas">
          <ion-label>
            <h2>{{persona.nombre}} {{persona.apellido}}</h2>
            <p>Email: {{persona.email}}</p>
            <p>Carrera: {{persona.carrera}}</p>
            <p>Tipo Persona: {{persona.tipoPersona}}</p>
          </ion-label>
          <ion-button slot="end" (click)="editar(persona.email)"
            >Ver</ion-button
          >
          <ion-button
            slot="end"
            color="danger"
            (click)="eliminarPersona(persona.email)"
            >Eliminar</ion-button
          >
        </ion-item>
      </ion-list>
    </div>
    <div class="col-sm-6">
      <ion-list>
        <ion-list-header>
          <ion-label>Lista de Clases</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let clase of clases">
          <ion-label>
            <h1>{{ clase.nombre }}</h1>
            <h2></h2>
            <h3>{{ clase.profesor.nombre }}, {{ clase.profesor.id }}</h3>
            <p>ID: {{ clase.id }}</p>
            <p>Hora de inicio: {{ clase.horaInicio }}</p>
            <p>Hora de término: {{ clase.horaTermino }}</p>
            <p>Diurno / Vespertino: {{ clase.diurnoVespertino }}</p>
            <p>Dia(s): {{ clase.dias }}</p>
            <p>Carrera: {{ clase.carreraClase }}</p>
          </ion-label>
          <ion-button
            color="danger"
            slot="end"
            (click)="eliminarClase(clase.id)"
            >Eliminar</ion-button
          >
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
